openssl
tmux
git
ripgrep
wget
starship
eza
fish
fontconfig
fzf
fd-find
bat
go
aria2
jless
ouch
fx
procs
dust
duf
bottom
gh
nodejs
zoxide
nvitop
mosh
rsync
python==3.12
procps-ng
expect
rclone
glow-md
